<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="pedido" style="color: #d58512; border-style: inset; padding: 15px; text-align: center; width: 95%">
        <h3>Enseguida te contactamos vía WhatsApp para concretar el pago y entrega de tu orden</h3>
      </div>
      <%= render 'pedido' %>
    </div>
  </div>
</div>
