<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="pedido" style="color: #d58512; border-style: inset; padding: 15px; text-align: center">
        <h3>Enseguida nos comunicaremos contigo para proceder con el pago y entrega de tu pedido</h3>
      </div>
      <%= render 'pedido' %>
    </div>
  </div>
</div>
