<div class="main">
  <div class="shop_top">
    <div class="container">
      <%= render 'pedido' %>
      <%= form_tag("/checkout", method: "post") do %>
        <div class="form-submit">
          <a href="" onclick="window.history.back();" style="margin-right:20px">Regresar</a>
          <script>submited=false</script>
          <input name="submit" type="submit" id="submit" value="Confirmar" onclick="if(submited)return false; {this.value='Confirmando pedido...'; submited=true};"><br>
        </div>
      <% end %>
    </div>
  </div>
</div>
