<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <div class="map">
            <!--<iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.in/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265&amp;output=embed"></iframe><br><small><a href="https://maps.google.co.in/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Lighthouse+Point,+FL,+United+States&amp;aq=4&amp;oq=light&amp;sll=26.275636,-80.087265&amp;sspn=0.04941,0.104628&amp;ie=UTF8&amp;hq=&amp;hnear=Lighthouse+Point,+Broward,+Florida,+United+States&amp;t=m&amp;z=14&amp;ll=26.275636,-80.087265" style="color:#666;text-align:left;font-size:12px"></a></small>-->
            <img src="/images/como_comprar.png" class="img-responsive" alt=""/>
          </div>
        </div>
        <div class="col-md-5">
          
          <div class="address">
            <h3>¿Cómo comprar?</h3>
          <p class="m_8"> 1- Dirígete a nuestra sección de Productos <br>
            2- Elige el regalo que más te guste <br>
            3- Agrega el regalo que elegiste a tu carrito de compras<br>
            4- Confirma tu elección, llena correctamente los datos del formulario<br>
            5 - Un asesor te contactará inmediatamente para finalizar los detalles de tu pedido<br>
            6- Tu pedido esta listo para entregarse.<br>
            7- El día del envío te enviaremos un sms a tu móvil, confirmándote la recepción de la Male Box que ordenaste.<br>
            8-Para conocer el estado de tu pedido y participar de promociones ¡Regístrate! <br>
          </p>
          <div class="col-md-5">
          <h3>Algunos tips, si tu pedido es para Provincia</h3>
          <p class="m_8"> Debes ordenar tu Male Box con mínimo 48 horas de anticipación <br> 
            5- cuando llenes el formulario de compra no olvides poner en la casilla Sector, la opción Provincia <br>
            5 -Un asesor te contactará inmediatamente para finalizar los detalles de tu pedido<br>
            7- El día del envío te enviaremos un sms a tu móvil, confirmándote el número de Track de la Male Box que ordenaste.<br>
            8- Tu pedido llegará entre las 9:00 y 16:00 vía Servientrega <br>
          </p>
          </div>
          <div class="address">
            <h3>Si prefieres retirar tu regalo, puedes visitarnos en:</h3>
            <h4>Punto de Distribución San Fernando ( Norte de Quito )</h4>
            <p>Ignacio Asín y Vicente Heredia, Sector San Fernando</p>
            <p>Edificio Dickens / Quito - Ecuador</p>
            <p>Telefono:0984454 854 - 0996554 568</p>
            <h4>Punto de Distribución Versalles( Centro de Quito )</h4>
            <p>Versalles N17 - 109 y Santiago</p>
            <p>Tras IESS parque El Ejido / Quito - Ecuador</p>
            <p>Email: <span>info@regalosmalebox.com</span></p>
          </div>
        </div>
      </div>
  <!--     <div class="row">
        <div class="col-md-12 contact">
            <%= form_tag("/page/contactos", method: "post") do %>
            <div class="to">
              <input type="text" name="nombre" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
              <input type="text" name="email" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
              <input type="text" name="titulo" class="text" value="Título" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
            </div>
            <div class="text">
              <textarea name="mensaje" value="Mensaje:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
              <%= recaptcha_tags %>
              <div class="form-submit">
                <script>submited=false</script>
                <input name="submit" type="submit" id="submit" value="Enviar" onclick="if(submited)return false; {this.value='Enviando Correo...'; submited=true};"><br>
              </div>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>
      </div> -->
      <%= render 'otros_productos' %>
    </div>
  </div>
</div>