
<style>
div.somos {
    
    margin: 20px;
    padding: 20px;
    font-family: verdana, ;
}

h3 {
    
    margin: 0px 0px 0px 0px;
    font-family: verdana;
    font-size: 25px;
    color: #666565;
    font-weight: 600;

}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
   
    
}

p {
    font-family: verdana;
    font-size: 16px;
    letter-spacing: 1px;
   
    
}


</style>

<img src="http://www.regalosmalebox.com/images/slider4.jpg" alt="" style="width:100%">


<div class="main">
  <div class="shop_top">
    <div class="container">
      
        <div class="somos">
          
          <!-- <div class="address">
            <p>Ignacio Asín y Vicente Heredia, Sector San Fernando</p>
            <p>Edificio Dickens / Quito - Ecuador</p>
            <p>Telefono: 098 4454 854 - 099 6554 568 </p>
            <p>Email: <span>informacion@regalosmalebox.com</span></p>
          </div> -->
          <h3>Quiénes Somos</h3>
          <br><br>
          <p> Creemos que puedes recibir mejores regalos. Regalos que merezcan aplausos y admiración de quienes los miren. Creemos que mereces regalos que estremezcan y emocionen todos tus sentidos. Rompemos con la forma tradicional de dar presentes, para así crear "Regalos que ya son leyenda". <br> <br> Pioneros en Ecuador, nos sentimos orgullosos de ser parte de esta corriente a nivel mundial que ha rescatado simples y cotidianos empaques para ser convertidos en originales e innovadores obsequios que son excusa, causa y consecuencia de muchos sentimientos.
          <br> <br>
          Nos caracterizamos por ser originales, rústicos, misteriosos y elegantes. Somos The Male Box y hacemos regalos increíbles. Sin lazos, sin cintas, sin globos. ¡Únicamente regalos con actitud!. ¡Felicidad 100% garantizada! Compruébalo. <br>
          </p>
          <br>
            
        </div>
      </div>
     <!--  <div class="row">
        <div class="col-md-12 contact">
            <%= form_tag("/page/contactos", method: "post") do %>
            <div class="to">
              <input type="text" name="nombre" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
              <input type="text" name="email" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
              <input type="text" name="titulo" class="text" value="Título" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
            </div>
            <div class="text">
              <textarea name="mensaje" value="Mensaje:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
              <%= recaptcha_tags %>
              <div class="form-submit">
                <script>submited=false</script>
                <input name="submit" type="submit" id="submit" value="Enviar" onclick="if(submited)return false; {this.value='Enviando Correo...'; submited=true};"><br>
              </div>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>
      </div>
      <%= render 'otros_productos' %> -->
    </div>

