
<style>
div.somos {
    
    margin: 100px;
    padding: 20px;
    font-family: verdana;
}

h3 {
    
    margin: 0px 0px 0px 100px;
    padding: 5px;
    font-family: verdana;
    font-size: 25px;
    color: #666565;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
   
    
}


</style>

<img src="http://www.regalosmalebox.com/images/slider4.jpg" alt="" style="width:100%">


<div class="main">
  <div class="shop_top">
    <div class="container">
      
        <div class="somos">
          
          <!-- <div class="address">
            <p>Ignacio Asín y Vicente Heredia, Sector San Fernando</p>
            <p>Edificio Dickens / Quito - Ecuador</p>
            <p>Telefono: 098 4454 854 - 099 6554 568 </p>
            <p>Email: <span>info@regalosmalebox.com</span></p>
          </div> -->
          <h3>Quiénes Somos</h3>
          <p> Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum.<br>
          </p>
          <br>
          <h3>La idea nació</h3>
          <p> Lorem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar de las industrias desde el año 1500, cuando un impresor (N. del T. persona que se dedica a la imprenta) desconocido usó una galería de textos y los mezcló de tal manera que logró hacer un libro de textos especimen. No sólo sobrevivió 500 años, sino que tambien ingresó como texto de relleno en documentos electrónicos, quedando esencialmente igual al original. Fue popularizado en los 60s con la creación de las hojas "Letraset", las cuales contenian pasajes de Lorem Ipsum, y más recientemente con software de autoedición, como por ejemplo Aldus PageMaker, el cual incluye versiones de Lorem Ipsum. <br>
          <br>
            
        </div>
      </div>
     <!--  <div class="row">
        <div class="col-md-12 contact">
            <%= form_tag("/page/contactos", method: "post") do %>
            <div class="to">
              <input type="text" name="nombre" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
              <input type="text" name="email" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
              <input type="text" name="titulo" class="text" value="Título" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
            </div>
            <div class="text">
              <textarea name="mensaje" value="Mensaje:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
              <%= recaptcha_tags %>
              <div class="form-submit">
                <script>submited=false</script>
                <input name="submit" type="submit" id="submit" value="Enviar" onclick="if(submited)return false; {this.value='Enviando Correo...'; submited=true};"><br>
              </div>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>
      </div>
      <%= render 'otros_productos' %> -->
    </div>
  </div>
</div>