
<style>
div.somos {
    
    margin: 20px;
    padding: 20px;
    font-family: verdana, ;
}

h3 {
    
    margin: 0px 0px 0px 0px;
    font-family: verdana;
    font-size: 25px;
    color: #666565;
    font-weight: 600;

}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px;
   
    
}

p {
    font-family: verdana;
    font-size: 16px;
    letter-spacing: 1px;
   
    
}


</style>



<div class="main">
  <div class="shop_top">
    <div class="container">
      
        <div class="somos">
          
          <!-- <div class="address">
            <p>Ignacio Asín y Vicente Heredia, Sector San Fernando</p>
            <p>Edificio Dickens / Quito - Ecuador</p>
            <p>Telefono: 098 4454 854 - 099 6554 568 </p>
            <p>Email: <span>informacion@regalosmalebox.com</span></p>
          </div> -->
          <h3>Términos, Condiciones y Políticas de Entrega</h3>
          <br><br>
          
          <p> Se da por entendido que al momento de comprar cualquiera de nuestros productos el cliente acepta los   términos, condiciones y políticas de entrega especificados a continuación:<br></p>

            

            <br><b>I.- DE LAS ENTREGAS Y HORARIOS EN QUITO</b><br><br>
            <p>i) The Male Box hace entregas personales solamente en la Ciudad de Quito y Valles en los siguientes rangos de horario: LUN-VIER : 7:30h-10:00h, 10:00h-13:00h, 15:00h-18:00h. Sábados de 8:00h a 12:00h. Entregas días Domingos previa verificación de disponibilidad con un asesor Male Box.
            El cliente acepta que el momento de la entrega del regalo, deberá estar una persona para recibirlo dentro del rango elegido. El cliente acepta que en caso de necesitar una hora específica de entrega deberá ponerse en contacto con The Male Box vía telefónica o chat para verificar la disponibilidad de entrega.<br>

            <br>ii) Ciertos lugares no permiten el ingreso de deliverys a sus instalaciones, esto por políticas de seguridad, ejemplos de esto son Instituciones públicas como, Presidencia, Ministerios, Municipio de Quito, Ekopark, etc. Será siempre responsabilidad del cliente el verificar que en el lugar de envío se reciban regalos. <br>
            <br> iii) En caso de que la persona que recibe el regalo no se encuentre y nadie pueda recibir el regalo, The Male Box llamará al cliente y al receptor del regalo para buscar una alternativa a la entrega. <b>El delivery Male Box solo puede esperar 10 min en el lugar para la entrega</b>. En el caso de no obtener respuesta, y no se tenga la facultad de dejar el regalo, The Male Box se ve obligado a retornar con el obsequio al Taller. <br>

            <br> iv) Los cargos por servicio a domicilio incluyen sólo una entrega a la vez. Por lo que de presentarse alguna situación que nos impida entregar el regalo y ésta no sea atribuible a The Male Box, se tendrá que cubrir otro envío a domicilio o en su defecto el cliente o receptor del regalo podrá recogerlo en el Taller Male Box. <br> </p>

            <br><b>II.- DE LAS ENTREGAS Y HORARIOS EN PROVINCIA</b><br> <br>
            <p> i) El taller Male Box se encuentra en la ciudad de Quito y  hace entregas a todo el Ecuador a través de Servientrega en horario de Lunes a Viernes de 9:00h - 18:00h . The Male Box bajo ninguna circunstancia puede asegurar el horario de entrega del regalo, ya que no tiene acceso a las rutas y tiempos de entrega del proveedor Servientrega.<br>

            <br>ii) Los regalos para provincia deben ser receptados con al menos 2-3 días de anticipación para garantizar la entrega de los mismos. En algunas excepciones se debe confirmar vía telefónica o chat la disponibilidad de entrega ya que depende de la Provincia de destino el tiempo de llegada del regalo.<br>

            <br>¡¡¡) The Male Box proveerá al cliente de una guía de envío, la cual permite verificar la ruta del regalo. Sin embargo la actualización web de la ruta no es inmediata ni en tiempo real, por lo que el cliente entiende que <b>The Male Box no puede garantizar horas de entrega exactas</b>. <br>

            <br>¡v) El cliente acepta que el día requerido para la entrega, deberá encontrarse en el lugar, una persona que pueda recibir el regalo dentro del horario de entrega 9:00 am - 18:00 pm. En el caso de que no se encuentre nadie en el lugar, el regalo regresa a la Matriz de Servientrega de la ciudad correspondiente. <br>

            <br>v) En el caso de tener una primera entrega fallida, Servientrega tiene la facultad de regresar con el regalo al día siguiente, para un último intento de entrega del regalo sin recargo adicional. The Male Box llamará al cliente y al receptor del regalo para buscar una alternativa a la entrega.<br>

            <br>vi) The Male Box envía sus regalos a Provincia, embalados y protegidos para garantizar la llegada a su destino en óptimas condiciones. En caso de accidentes o daños de los regalos, The Male Box procederá al análisis de cada caso para verificar y establecer la mejor solución con el fin de garantizar la satisfacción del cliente.<br> </p>


            <br><b>III.- DE LAS FECHAS IMPORTANTES</b><br><br>
            <p>The Male Box establece como fechas importantes el 14 de Febrero, Día del Padre y Navidad, esto por la alta demanda de entregas en esos días, por lo que los pedidos para estas fechas serán receptados y pagados con un mínimo de 3 días de anticipación. Esto con el fin de garantizar al cliente la entrega del regalo requerido.<br></p>

            <br><b>IV.- DE LOS PAGOS</b><br><br>
            <p>El cliente se obliga a pagar el regalo en su totalidad a la par que realiza su pedido y antes de ser enviado. El pago puede realizarse a través de depósito, transferencia bancaria, Paypal o Tarjeta de Crédito. Las confirmaciones de pago se receptan a través de correo electrónico.</p><br>


            <br><b>V.- POLÍTICAS DEL PEDIDO</b><br><br>
            <p>El cliente deberá proporcionar los datos completos del domicilio del destinatario, en caso de que el cliente no tenga la dirección completa se podrá apoyar con la búsqueda de la dirección SIEMPRE Y CUANDO esta sea un domicilio de negocio, empresa o lugares que por su naturaleza comercial, de asistencia o gubernamental sean de interés público, para esto el cliente deberá proporcionar como mínimo el teléfono de la persona que recibe el regalo. 
            <br>BAJO NINGUNA CIRCUNSTANCIA The Male Box hará investigación de domicilios particulares. (casas, departamentos o lugares de vivienda que por su naturaleza son privados)</p><br>

            <br><b>VI.- DE LA CONFIDENCIALIDAD</b><br><br>
            <p>The Male Box garantiza la seguridad de la información de nuestros clientes mediante la confirmación de cualquier pedido o información del regalo vía email de forma directa,y no puede replicarla bajo ninguna condición. The Male Box se reserva el derecho de entregar información al cliente en caso de que este haya incurrido en entrega de información parcial o engañosa de su identidad.</p><br>
             
            <br><b>VII .- DE LA DISPONIBILIDAD Y PRECIOS</b><br><br>
            <p>Todos nuestros productos tienen un stock limitado. Por causas diversas a cambios de empaque o presentación por parte de proveedores, The Male Box adecuará los regalos a colores y formas de las mismas marcas mostradas en la web, siempre con la filosofía de mejorar o igualar las expectativas del cliente.
            Asimismo los precios están sujetos a cambio sin previo aviso ya incluidos IVA.</p><br>

            <br><b>VIII.- CANCELACIONES</b><br><br>
            <p>Se aceptan cancelaciones de pedidos únicamente con 4 días de anticipación a la entrega del regalo.</p><br>
            
            <br><b>IX .- LIMITE Y RESPONSABILIDAD</b><br><br>
            <p>
            The Male Box no se hace responsable por compras hechas con tarjetas de credito sin autorizacion previa del dueño o robadas; se entiende que la persona que realiza la compra está plenamente facultada para realizar la transacción y por tanto The Male Box no puede negarla; el realizar transacciones por internet sin el consentimiento previo del dueño o con tarjetas robadas se constituye un fraude el cual está penado por la ley, y de ser el caso, para solucionarse deberá contactarse con el emisor bancario de la tarjeta de crédito.
            </p><br>

            <br><b>X.- NO PREVISTOS</b><br>

            <p>Cualquier situación no prevista en estas políticas, serán resueltas por el área administrativa de The Male Box. En todo momento se verificará bajo la filosofía de máxima satisfacción con el cliente, el cumplimiento de nuestros acuerdos bajo el entendimiento que existirán agentes externos a nosotros que en algunos casos nos impedirán cumplir con nuestro propósito.</p><br>

          </p>
          <br>
            
        </div>
      </div>
     <!--  <div class="row">
        <div class="col-md-12 contact">
            <%= form_tag("/page/contactos", method: "post") do %>
            <div class="to">
              <input type="text" name="nombre" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
              <input type="text" name="email" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}">
              <input type="text" name="titulo" class="text" value="Título" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}">
            </div>
            <div class="text">
              <textarea name="mensaje" value="Mensaje:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Message:</textarea>
              <%= recaptcha_tags %>
              <div class="form-submit">
                <script>submited=false</script>
                <input name="submit" type="submit" id="submit" value="Enviar" onclick="if(submited)return false; {this.value='Enviando Correo...'; submited=true};"><br>
              </div>
            </div>
            <div class="clear"></div>
          <% end %>
        </div>
      </div>
      <%= render 'otros_productos' %> -->
    </div>

